In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Series

In [2]:
s = Series(np.random.rand(10))

In [3]:
s

0    0.038781
1    0.762432
2    0.659705
3    0.959024
4    0.870165
5    0.869611
6    0.906146
7    0.125106
8    0.386859
9    0.140058
dtype: float64

In [10]:
s.sort_index(ascending=False)

9    0.140058
8    0.386859
7    0.125106
6    0.906146
5    0.869611
4    0.870165
3    0.959024
2    0.659705
1    0.762432
0    0.038781
dtype: float64

In [7]:
# Sort by the values.
s.sort_values()

0    0.038781
7    0.125106
9    0.140058
8    0.386859
2    0.659705
1    0.762432
5    0.869611
4    0.870165
6    0.906146
3    0.959024
dtype: float64

In [9]:
s.sort_values(ascending=False)

3    0.959024
6    0.906146
4    0.870165
5    0.869611
1    0.762432
2    0.659705
8    0.386859
9    0.140058
7    0.125106
0    0.038781
dtype: float64

In [14]:
s.max()

0.9590239815015444

In [15]:
s.min()

0.03878141928101886

In [16]:
s.mean()

0.5717889116207162

In [21]:
s1 = Series([1,2,3])
s2 = Series([4,5,6])
s1+s2

0    5
1    7
2    9
dtype: int64

In [23]:
s1 = Series([1,2,3],['A','B','C'])
s2 = Series([4,5,6],['A','D','E'])
s1+s2

A    5.0
B    NaN
C    NaN
D    NaN
E    NaN
dtype: float64

# DataFrame

In [26]:
df  = DataFrame(np.random.rand(20).reshape(4,5))

In [27]:
df

          0         1         2         3         4
0  0.159605  0.625631  0.483250  0.064308  0.839206
1  0.570132  0.098468  0.110007  0.274053  0.507816
2  0.329383  0.440291  0.817408  0.492339  0.474157
3  0.523146  0.336874  0.243608  0.353998  0.888371

In [34]:
# Sort by the values along either axis
# 行排序，values取各行的第1列
df.sort_values(by=1)

          0         1         2         3         4
1  0.570132  0.098468  0.110007  0.274053  0.507816
3  0.523146  0.336874  0.243608  0.353998  0.888371
2  0.329383  0.440291  0.817408  0.492339  0.474157
0  0.159605  0.625631  0.483250  0.064308  0.839206

In [36]:
# 列排序，values取各列的第3行
df.sort_values(by=3,axis=1)

          2         1         3         0         4
0  0.483250  0.625631  0.064308  0.159605  0.839206
1  0.110007  0.098468  0.274053  0.570132  0.507816
2  0.817408  0.440291  0.492339  0.329383  0.474157
3  0.243608  0.336874  0.353998  0.523146  0.888371

In [39]:
df1 = DataFrame(np.random.rand(12).reshape(4,3),index=['1','3','2','0'])

In [40]:
df1

          0         1         2
1  0.900741  0.486256  0.323958
3  0.753877  0.890588  0.049488
2  0.377325  0.539635  0.488203
0  0.981497  0.367354  0.920082

In [43]:
df1.sort_index()

          0         1         2
0  0.981497  0.367354  0.920082
1  0.900741  0.486256  0.323958
2  0.377325  0.539635  0.488203
3  0.753877  0.890588  0.049488

In [44]:
df1.sort_index(ascending = False)

          0         1         2
3  0.753877  0.890588  0.049488
2  0.377325  0.539635  0.488203
1  0.900741  0.486256  0.323958
0  0.981497  0.367354  0.920082

In [45]:
# This method returns the maximum of the values in the object
# values取不同行的值，生成各列的最值。
df1.max()

0    0.981497
1    0.890588
2    0.920082
dtype: float64

In [46]:
# 各行中最值
df1.max(axis=1)

1    0.900741
3    0.890588
2    0.539635
0    0.981497
dtype: float64

In [47]:
# values取同列的不同行的值，生成各列的最值。
df1.mean()

0    0.753360
1    0.570958
2    0.445433
dtype: float64

In [48]:
df1.describe()

              0         1         2
count  4.000000  4.000000  4.000000
mean   0.753360  0.570958  0.445433
std    0.267812  0.224925  0.364532
min    0.377325  0.367354  0.049488
25%    0.659739  0.456530  0.255341
50%    0.827309  0.512945  0.406081
75%    0.920930  0.627373  0.596173
max    0.981497  0.890588  0.920082