In [21]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# 数据分箱技术Binning

In [32]:
score_list = np.random.randint(30,100,20)

In [33]:
score_list

array([92, 47, 84, 45, 46, 34, 89, 40, 86, 77, 40, 63, 35, 97, 45, 84, 69,
       86, 38, 84])

In [34]:
# 划分等级
bins = [30,59,79,100]

In [35]:
# Bin values into discrete intervals.划分到离散区间
a = pd.cut(score_list,bins)

In [36]:
type(a)

pandas.core.arrays.categorical.Categorical

In [37]:
a.value_counts()

(30, 59]     9
(59, 79]     3
(79, 100]    8
dtype: int64

### DataFrame

In [38]:
df = DataFrame()

In [40]:
# 添加columns
#  Length of values must match length of index
df['student'] = [pd.util.testing.rands(5) for i in range(20)]
df['score'] = score_list

> ##### python列表解析
```
要求：列出1~10所有数字的平方
1、普通方法：
>>> L = []
>>> for i in range(1,11):
...     L.append(i**2)
... 
>>> print L
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
2、列表解析
>>>L = [ i**2 for i in range(1,11)]
>>>print L
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
```

In [41]:
df

   student  score
0    VsuqY     92
1    b1Z8c     47
2    QNOyu     84
3    biMHE     45
4    eCLy5     46
5    Qj6Li     34
6    c5Vmn     89
7    PIGe4     40
8    3Qceb     86
9    uPul4     77
10   wHDhe     40
11   Y2aQL     63
12   n6cMR     35
13   zNZ1W     97
14   W4LAS     45
15   TMorb     84
16   N8iwW     69
17   eJgpW     86
18   7h9a0     38
19   T86We     84

In [46]:
# 对score 进行binning
pd.cut(df['score'],bins=bins)

0     (79, 100]
1      (30, 59]
2     (79, 100]
3      (30, 59]
4      (30, 59]
5      (30, 59]
6     (79, 100]
7      (30, 59]
8     (79, 100]
9      (59, 79]
10     (30, 59]
11     (59, 79]
12     (30, 59]
13    (79, 100]
14     (30, 59]
15    (79, 100]
16     (59, 79]
17    (79, 100]
18     (30, 59]
19    (79, 100]
Name: score, dtype: category
Categories (3, interval[int64]): [(30, 59] < (59, 79] < (79, 100]]

In [49]:
# labels :Must be the same length as the resulting bins
df['bins'] = pd.cut(df['score'],bins=bins,labels=['bad','ok','great'])

In [50]:
df

   student  score   bins
0    VsuqY     92  great
1    b1Z8c     47    bad
2    QNOyu     84  great
3    biMHE     45    bad
4    eCLy5     46    bad
5    Qj6Li     34    bad
6    c5Vmn     89  great
7    PIGe4     40    bad
8    3Qceb     86  great
9    uPul4     77     ok
10   wHDhe     40    bad
11   Y2aQL     63     ok
12   n6cMR     35    bad
13   zNZ1W     97  great
14   W4LAS     45    bad
15   TMorb     84  great
16   N8iwW     69     ok
17   eJgpW     86  great
18   7h9a0     38    bad
19   T86We     84  great