In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [6]:
ls ..\data

 驱动器 D 中的卷是 Data
 卷的序列号是 C486-DFF8

 D:\WS\datascience\data 的目录

2020/02/09  15:51    <DIR>          .
2020/02/09  15:51    <DIR>          ..
2019/05/11  23:45               423 city_weather.csv
2020/02/08  14:10         1,494,688 movie_metadata.csv
               2 个文件      1,495,111 字节
               2 个目录 82,264,731,648 可用字节

> #### 目录分级
- win下为 \    
- unix为 /

In [8]:
# ..\data\city_weather.csv文件
df = pd.read_csv('..\data\city_weather.csv')

In [9]:
df

          date city  temperature  wind
0   03/01/2016   BJ            8     5
1   17/01/2016   BJ           12     2
2   31/01/2016   BJ           19     2
3   14/02/2016   BJ           -3     3
4   28/02/2016   BJ           19     2
5   13/03/2016   BJ            5     3
6   27/03/2016   SH           -4     4
7   10/04/2016   SH           19     3
8   24/04/2016   SH           20     3
9   08/05/2016   SH           17     3
10  22/05/2016   SH            4     2
11  05/06/2016   SH          -10     4
12  19/06/2016   SH            0     5
13  03/07/2016   SH           -9     5
14  17/07/2016   GZ           10     2
15  31/07/2016   GZ           -1     5
16  14/08/2016   GZ            1     5
17  28/08/2016   GZ           25     4
18  11/09/2016   SZ           20     1
19  25/09/2016   SZ          -10     4

In [23]:
g = df.groupby(by = df['city'])

In [24]:
# 查看分组
g.groups

{'BJ': Int64Index([0, 1, 2, 3, 4, 5], dtype='int64'),
 'GZ': Int64Index([14, 15, 16, 17], dtype='int64'),
 'SH': Int64Index([6, 7, 8, 9, 10, 11, 12, 13], dtype='int64'),
 'SZ': Int64Index([18, 19], dtype='int64')}

In [25]:
type(g.groups)

dict

In [26]:
g.get_group('BJ')

         date city  temperature  wind
0  03/01/2016   BJ            8     5
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2
3  14/02/2016   BJ           -3     3
4  28/02/2016   BJ           19     2
5  13/03/2016   BJ            5     3

In [29]:
# groupby分组后，Index不变
g.get_group('SH')

          date city  temperature  wind
6   27/03/2016   SH           -4     4
7   10/04/2016   SH           19     3
8   24/04/2016   SH           20     3
9   08/05/2016   SH           17     3
10  22/05/2016   SH            4     2
11  05/06/2016   SH          -10     4
12  19/06/2016   SH            0     5
13  03/07/2016   SH           -9     5

In [32]:
# 上海平均值
g.get_group('SH').mean()

temperature    4.625
wind           3.625
dtype: float64

### 如下df.max() 和 df.goupby().max() 的区别

In [35]:
# 求各列最大值
df.max()

date           31/07/2016
city                   SZ
temperature            25
wind                    5
dtype: object

In [37]:
# 在城市分组后，分别求各列的最大值
g.max()

            date  temperature  wind
city
BJ    31/01/2016           19     5
GZ    31/07/2016           25     5
SH    27/03/2016           20     5
SZ    25/09/2016           20     4

### 分组打印

In [61]:
type(g)

pandas.core.groupby.groupby.DataFrameGroupBy

In [63]:
# DataFrame的分组类型为DataFrameGroupBy
# DataFrameGroupBy中包含<分组名,DataFrame>
for group_name,group_value in g:
    print(group_name)
    print(group_value)
    break

BJ
         date city  temperature  wind
0  03/01/2016   BJ            8     5
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2
3  14/02/2016   BJ           -3     3
4  28/02/2016   BJ           19     2
5  13/03/2016   BJ            5     3

In [56]:
for group_name,group_value in g:
    print(group_name)
    print(group_value)

BJ
         date city  temperature  wind
0  03/01/2016   BJ            8     5
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2
3  14/02/2016   BJ           -3     3
4  28/02/2016   BJ           19     2
5  13/03/2016   BJ            5     3
GZ
          date city  temperature  wind
14  17/07/2016   GZ           10     2
15  31/07/2016   GZ           -1     5
16  14/08/2016   GZ            1     5
17  28/08/2016   GZ           25     4
SH
          date city  temperature  wind
6   27/03/2016   SH           -4     4
7   10/04/2016   SH           19     3
8   24/04/2016   SH           20     3
9   08/05/2016   SH           17     3
10  22/05/2016   SH            4     2
11  05/06/2016   SH          -10     4
12  19/06/2016   SH            0     5
13  03/07/2016   SH           -9     5
SZ
          date city  temperature  wind
18  11/09/2016   SZ           20     1
19  25/09/2016   SZ          -10     4