In [3]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [4]:
ls ..\data

 驱动器 D 中的卷是 Data
 卷的序列号是 C486-DFF8

 D:\WS\datascience\data 的目录

2020/02/09  15:51    <DIR>          .
2020/02/09  15:51    <DIR>          ..
2019/05/11  23:45               423 city_weather.csv
2020/02/08  14:10         1,494,688 movie_metadata.csv
               2 个文件      1,495,111 字节
               2 个目录 82,264,551,424 可用字节

In [10]:
df = pd.read_csv('..\data\city_weather.csv')

In [12]:
df.head(3)

         date city  temperature  wind
0  03/01/2016   BJ            8     5
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2

In [23]:
g = df.groupby(by=['city'])

In [24]:
g.groups

{'BJ': Int64Index([0, 1, 2, 3, 4, 5], dtype='int64'),
 'GZ': Int64Index([14, 15, 16, 17], dtype='int64'),
 'SH': Int64Index([6, 7, 8, 9, 10, 11, 12, 13], dtype='int64'),
 'SZ': Int64Index([18, 19], dtype='int64')}

In [36]:
g.get_group('BJ')
# 或g.get_group(('BJ'))

         date city  temperature  wind
0  03/01/2016   BJ            8     5
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2
3  14/02/2016   BJ           -3     3
4  28/02/2016   BJ           19     2
5  13/03/2016   BJ            5     3

In [42]:
g_new = df.groupby(by=['city','wind'])
type(g_new)

pandas.core.groupby.groupby.DataFrameGroupBy

In [39]:
g_new.groups

{('BJ', 2): Int64Index([1, 2, 4], dtype='int64'),
 ('BJ', 3): Int64Index([3, 5], dtype='int64'),
 ('BJ', 5): Int64Index([0], dtype='int64'),
 ('GZ', 2): Int64Index([14], dtype='int64'),
 ('GZ', 4): Int64Index([17], dtype='int64'),
 ('GZ', 5): Int64Index([15, 16], dtype='int64'),
 ('SH', 2): Int64Index([10], dtype='int64'),
 ('SH', 3): Int64Index([7, 8, 9], dtype='int64'),
 ('SH', 4): Int64Index([6, 11], dtype='int64'),
 ('SH', 5): Int64Index([12, 13], dtype='int64'),
 ('SZ', 1): Int64Index([18], dtype='int64'),
 ('SZ', 4): Int64Index([19], dtype='int64')}

In [40]:
# the name of the group to get as a DataFrame（这里是元组）
g_new.get_group(('BJ', 2))

         date city  temperature  wind
1  17/01/2016   BJ           12     2
2  31/01/2016   BJ           19     2
4  28/02/2016   BJ           19     2

# Aggregation

> ### 从groupby到aggregation（理解Pandas的Transform）
![title](..\img\1.webp)
- DataFrame即是Input;
- 通过groupby方法生成的多个DataFrameGroupBy对象即是多个Split; 
- 对于DataFrameGroupBy对象执行操作即是Apply; 
- 通过aggregation方法即是Combine

In [58]:
# 内置平均值函数。
#对每个split对象都进行'mean'操作，最后combine成一个新的dataframe
g.agg(['mean'])

     temperature      wind
            mean      mean
city
BJ        10.000  2.833333
GZ         8.750  4.000000
SH         4.625  3.625000
SZ         5.000  2.500000

In [51]:
g.agg(['max','min'])

            date             temperature     wind
             max         min         max min  max min
city
BJ    31/01/2016  03/01/2016          19  -3    5   2
GZ    31/07/2016  14/08/2016          25  -1    5   2
SH    27/03/2016  03/07/2016          20 -10    5   2
SZ    25/09/2016  11/09/2016          20 -10    4   1

In [57]:
# 自定义def，算最大温差和风差
def foo(attr):
    return attr.max()-attr.min()
g.agg(foo)

      temperature  wind
city
BJ             22     3
GZ             26     3
SH             30     3
SZ             30     3