In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [9]:
df = pd.read_csv('../data/demo_duplicate.csv')

In [11]:
df.shape

(3989, 4)

In [23]:
# Seqno是数据来源
df.head()

    Price  Seqno Symbol        time
0  1623.0    0.0   APPL  1473411962
1  1623.0    0.0   APPL  1473411962
2  1623.0    0.0   APPL  1473411963
3  1623.0    0.0   APPL  1473411963
4  1649.0    1.0   APPL  1473411963

In [24]:
# 3989行数据，只有1000条不重复，说明冗余很高
len(df['Seqno'].unique())

1000

In [28]:
# Return boolean Series denoting duplicate rows
df['Seqno'].duplicated()

0       False
1        True
2        True
3        True
4       False
5        True
6        True
7        True
8       False
9        True
10       True
11       True
12      False
13       True
14       True
15       True
16      False
17       True
18       True
19       True
20      False
21       True
22       True
23       True
24      False
25       True
26       True
27       True
28      False
29       True
        ...
3959     True
3960     True
3961    False
3962     True
3963     True
3964     True
3965    False
3966     True
3967     True
3968     True
3969    False
3970     True
3971     True
3972     True
3973    False
3974     True
3975     True
3976     True
3977    False
3978     True
3979     True
3980     True
3981    False
3982     True
3983     True
3984     True
3985    False
3986     True
3987     True
3988     True
Name: Seqno, Length: 3989, dtype: bool

### 去重

In [32]:
# 对Seqno 去重
# 参数keep : {'first', 'last', False}, default 'first'
df.drop_duplicates(['Seqno']).head()

     Price  Seqno Symbol        time
0   1623.0    0.0   APPL  1473411962
4   1649.0    1.0   APPL  1473411963
8   1642.0    2.0   APPL  1473411964
12  1636.0    3.0   APPL  1473411965
16  1669.0    4.0   APPL  1473411966

In [33]:
df.drop_duplicates(['Seqno'],keep='last').head()

     Price  Seqno Symbol        time
3   1623.0    0.0   APPL  1473411963
7   1649.0    1.0   APPL  1473411964
11  1642.0    2.0   APPL  1473411965
15  1636.0    3.0   APPL  1473411966
19  1669.0    4.0   APPL  1473411967