# 股票市场的分析

### pandas-datareader, 通过一些API获取数据

首先，安装pandas-datareader库，conda install pandas-datareader

In [24]:
import pandas_datareader as pdr

In [25]:
#  通过https://finance.yahoo.com/的API获取阿里巴巴的股票数据,返回dataframe
df = pdr.get_data_yahoo('BABA')

In [26]:
df.shape

(1259, 6)

In [27]:
df.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
2015-02-17  88.989998  86.699997  88.779999  86.849998  15191700  86.849998
2015-02-18  87.430000  86.500000  87.099998  86.739998   7422300  86.739998
2015-02-19  87.870003  86.709999  86.809998  86.889999   7604100  86.889999
2015-02-20  87.290001  86.379997  87.250000  86.639999   7821700  86.639999
2015-02-23  86.680000  85.250000  86.510002  85.470001   9367900  85.470001