In [6]:
# basic 
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# get data
import pandas_datareader as pdr

# virsual
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#time
from datetime import datetime

In [7]:
ls data

 驱动器 G 中的卷是 code&note
 卷的序列号是 4038-A3FC

 G:\python-data-science-intro\data 的目录

2020/02/20  17:40    <DIR>          .
2020/02/20  17:40    <DIR>          ..
2020/02/09  20:42    <DIR>          .ipynb_checkpoints
2020/02/09  20:42           195,031 apply_demo.csv
2019/05/11  23:45               423 city_weather.csv
2019/05/11  23:45           115,266 demo_duplicate.csv
2020/02/08  14:10         1,494,688 movie_metadata.csv
2020/02/20  12:21            12,723 score.xlsx
2020/02/20  17:38            17,404 score_list.xlsx
               6 个文件      1,835,535 字节
               3 个目录 21,355,458,560 可用字节

In [8]:
df = pd.read_excel('data/score_list.xlsx')

In [9]:
df.head()

   score  rank
0    415     1
1    400     2
2    388     3
3    387     4
4    384     5

In [10]:
df['score'].head()

0    415
1    400
2    388
3    387
4    384
Name: score, dtype: int64

In [11]:
df['score'].describe()

count    543.000000
mean     318.740331
std       31.027972
min      170.000000
25%      300.000000
50%      320.000000
75%      340.000000
max      415.000000
Name: score, dtype: float64

In [13]:
bins = [200,339,450]
a = pd.cut(df['score'],bins)
a.value_counts()

(200, 339]    401
(339, 450]    140
Name: score, dtype: int64