In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df = pd.read_clipboard()
df

  Format Type Data Description          Reader        Writer
0        text              CSV        read_csv        to_csv
1        text             JSON       read_json       to_json
2        text             HTML       read_html       to_html
3        text  Local clipboard  read_clipboard  to_clipboard
4      binary         MS Excel      read_excel      to_excel

In [9]:
df.to_csv('df_io.csv',index = False)

In [10]:
ls

 驱动器 D 中的卷是 Data
 卷的序列号是 C486-DFF8

 D:\WS\datascience\Pandas Basic 的目录

2020/02/07  18:06    <DIR>          .
2020/02/07  18:06    <DIR>          ..
2020/02/07  17:29    <DIR>          .ipynb_checkpoints
2020/02/07  15:25            27,848 Dataframe Introduction.ipynb
2020/02/07  18:06             4,786 DataFrame IO Operation.ipynb
2020/02/07  18:07               215 df_io.csv
2020/02/07  16:31            18,134 Relationship between Series and DataFrame .ipynb
2020/02/07  12:31             8,480 Series Introduction.ipynb
               5 个文件         59,463 字节
               3 个目录 82,282,430,464 可用字节

In [11]:
more df_io.csv

In [12]:
pd.read_csv('df_io.csv')

  Format Type Data Description          Reader        Writer
0        text              CSV        read_csv        to_csv
1        text             JSON       read_json       to_json
2        text             HTML       read_html       to_html
3        text  Local clipboard  read_clipboard  to_clipboard
4      binary         MS Excel      read_excel      to_excel

In [32]:
# df化为json，这里json在内存中,没有生成目录  
#生成目录 df_json = df.to_json('df_json.json')
df_json = df.to_json()

In [33]:
# json 化为 df
pd.read_json(df_json)

  Format Type Data Description          Reader        Writer
0        text              CSV        read_csv        to_csv
1        text             JSON       read_json       to_json
2        text             HTML       read_html       to_html
3        text  Local clipboard  read_clipboard  to_clipboard
4      binary         MS Excel      read_excel      to_excel

In [59]:
df_html = df.to_html('df_html.html')

In [60]:
df_html = pd.read_html('df_html.html')

In [61]:
# read_html返回的是List
type(df_html)

list

In [62]:
len(df_html)

1

In [63]:
df_html[0]

   Unnamed: 0 Format Type Data Description          Reader        Writer
0           0        text              CSV        read_csv        to_csv
1           1        text             JSON       read_json       to_json
2           2        text             HTML       read_html       to_html
3           3        text  Local clipboard  read_clipboard  to_clipboard
4           4      binary         MS Excel      read_excel      to_excel