In [29]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [31]:
ls ..\data

 驱动器 D 中的卷是 Data
 卷的序列号是 C486-DFF8

 D:\WS\datascience\data 的目录

2020/02/08  14:14    <DIR>          .
2020/02/08  14:14    <DIR>          ..
2020/02/08  14:10         1,494,688 movie_metadata.csv
               1 个文件      1,494,688 字节
               2 个目录 82,281,418,752 可用字节

In [41]:
df = pd.read_csv('..\data\movie_metadata.csv')

In [42]:
# 在unix中 ../data

In [43]:
df.shape

(5043, 28)

# Head an Tail

In [45]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [46]:
df.head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0

In [47]:
df.tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [48]:
df.tail(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

# filter columns

In [49]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [52]:
df['director_name']

0            James Cameron
1           Gore Verbinski
2               Sam Mendes
3        Christopher Nolan
4              Doug Walker
5           Andrew Stanton
6                Sam Raimi
7             Nathan Greno
8              Joss Whedon
9              David Yates
10             Zack Snyder
11            Bryan Singer
12            Marc Forster
13          Gore Verbinski
14          Gore Verbinski
15             Zack Snyder
16          Andrew Adamson
17             Joss Whedon
18            Rob Marshall
19        Barry Sonnenfeld
20           Peter Jackson
21               Marc Webb
22            Ridley Scott
23           Peter Jackson
24             Chris Weitz
25           Peter Jackson
26           James Cameron
27           Anthony Russo
28              Peter Berg
29         Colin Trevorrow
               ...
5013            Eric Eason
5014              Uwe Boll
5015     Richard Linklater
5016       Joseph Mazzella
5017          Travis Legge
5018         Alex Kendrick
5019         Marcus Nispel
5020       Brandon Landers
5021           Jay Duplass
5022            Jim Chuchu
5023            Daryl Wein
5024           Jason Trost
5025           John Waters
5026       Olivier Assayas
5027          Jafar Panahi
5028         Ivan Kavanagh
5029      Kiyoshi Kurosawa
5030          Tadeo Garcia
5031    Thomas L. Phillips
5032       Ash Baron-Cohen
5033         Shane Carruth
5034      Neill Dela Llana
5035      Robert Rodriguez
5036       Anthony Vallone
5037          Edward Burns
5038           Scott Smith
5039                   NaN
5040      Benjamin Roberds
5041           Daniel Hsia
5042              Jon Gunn
Name: director_name, Length: 5043, dtype: object

In [53]:
df[['director_name','movie_title']]

           director_name                                        movie_title
0          James Cameron                                            Avatar
1         Gore Verbinski          Pirates of the Caribbean: At World's End
2             Sam Mendes                                           Spectre
3      Christopher Nolan                             The Dark Knight Rises
4            Doug Walker  Star Wars: Episode VII - The Force Awakens    ...
5         Andrew Stanton                                       John Carter
6              Sam Raimi                                      Spider-Man 3
7           Nathan Greno                                           Tangled
8            Joss Whedon                           Avengers: Age of Ultron
9            David Yates            Harry Potter and the Half-Blood Prince
10           Zack Snyder                Batman v Superman: Dawn of Justice
11          Bryan Singer                                  Superman Returns
12          Marc Forster                                 Quantum of Solace
13        Gore Verbinski        Pirates of the Caribbean: Dead Man's Chest
14        Gore Verbinski                                   The Lone Ranger
15           Zack Snyder                                      Man of Steel
16        Andrew Adamson          The Chronicles of Narnia: Prince Caspian
17           Joss Whedon                                      The Avengers
18          Rob Marshall       Pirates of the Caribbean: On Stranger Tides
19      Barry Sonnenfeld                                    Men in Black 3
20         Peter Jackson         The Hobbit: The Battle of the Five Armies
21             Marc Webb                            The Amazing Spider-Man
22          Ridley Scott                                        Robin Hood
23         Peter Jackson               The Hobbit: The Desolation of Smaug
24           Chris Weitz                                The Golden Compass
25         Peter Jackson                                         King Kong
26         James Cameron                                           Titanic
27         Anthony Russo                        Captain America: Civil War
28            Peter Berg                                        Battleship
29       Colin Trevorrow                                    Jurassic World
...                  ...                                                ...
5013          Eric Eason                                            Manito
5014            Uwe Boll                                           Rampage
5015   Richard Linklater                                           Slacker
5016     Joseph Mazzella                                       Dutch Kills
5017        Travis Legge                                         Dry Spell
5018       Alex Kendrick                                          Flywheel
5019       Marcus Nispel                                            Exeter
5020     Brandon Landers                                        The Ridges
5021         Jay Duplass                                   The Puffy Chair
5022          Jim Chuchu                              Stories of Our Lives
5023          Daryl Wein                                  Breaking Upwards
5024         Jason Trost                          All Superheroes Must Die
5025         John Waters                                    Pink Flamingos
5026     Olivier Assayas                                             Clean
5027        Jafar Panahi                                        The Circle
5028       Ivan Kavanagh                                       Tin Can Man
5029    Kiyoshi Kurosawa                                          The Cure
5030        Tadeo Garcia                                    On the Downlow
5031  Thomas L. Phillips                      Sanctuary; Quite a Conundrum
5032     Ash Baron-Cohen                                              Bang
5033       Shane Carruth                                            Primer
5034    Neill Dela Llana                                            Cavite
5035    Robert Rodriguez                                       El Mariachi
5036     Anthony Vallone                                   The Mongol King
5037        Edward Burns                                         Newlyweds
5038         Scott Smith                           Signed Sealed Delivered
5039                 NaN                         The Following
5040    Benjamin Roberds                              A Plague So Pleasant
5041         Daniel Hsia                                  Shanghai Calling
5042            Jon Gunn                                 My Date with Drew

[5043 rows x 2 columns]

# filter by positon

In [60]:
# 0行
df.iloc[0]

color                                                                    Color
director_name                                                    James Cameron
num_critic_for_reviews                                                     723
duration                                                                   178
director_facebook_likes                                                      0
actor_3_facebook_likes                                                     855
actor_2_name                                                  Joel David Moore
actor_1_facebook_likes                                                    1000
gross                                                              7.60506e+08
genres                                         Action|Adventure|Fantasy|Sci-Fi
actor_1_name                                                       CCH Pounder
movie_title                                                            Avatar
num_voted_users                                                         886204
cast_total_facebook_likes                                                 4834
actor_3_name                                                         Wes Studi
facenumber_in_poster                                                         0
plot_keywords                           avatar|future|marine|native|paraplegic
movie_imdb_link              http://www.imdb.com/title/tt0499549/?ref_=fn_t...
num_user_for_reviews                                                      3054
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                2.37e+08
title_year                                                                2009
actor_2_facebook_likes                                                     936
imdb_score                                                                 7.9
aspect_ratio                                                              1.78
movie_facebook_likes                                                     33000
Name: 0, dtype: object

In [59]:
type(df.iloc[0])

pandas.core.series.Series

In [62]:
# 0列
df.iloc[:,0]

0                  Color
1                  Color
2                  Color
3                  Color
4                    NaN
5                  Color
6                  Color
7                  Color
8                  Color
9                  Color
10                 Color
11                 Color
12                 Color
13                 Color
14                 Color
15                 Color
16                 Color
17                 Color
18                 Color
19                 Color
20                 Color
21                 Color
22                 Color
23                 Color
24                 Color
25                 Color
26                 Color
27                 Color
28                 Color
29                 Color
              ...
5013               Color
5014               Color
5015     Black and White
5016               Color
5017               Color
5018               Color
5019               Color
5020                 NaN
5021               Color
5022     Black and White
5023               Color
5024               Color
5025               Color
5026               Color
5027               Color
5028     Black and White
5029               Color
5030               Color
5031               Color
5032               Color
5033               Color
5034               Color
5035               Color
5036               Color
5037               Color
5038               Color
5039               Color
5040               Color
5041               Color
5042               Color
Name: color, Length: 5043, dtype: object

In [63]:
type(df.iloc[:,0])

pandas.core.series.Series

In [55]:
df.iloc[1:3,2:5]

   num_critic_for_reviews  duration  director_facebook_likes
1                   302.0     169.0                    563.0
2                   602.0     148.0                      0.0

# filter by label

In [66]:
# 行
df.loc[1]

color                                                                    Color
director_name                                                   Gore Verbinski
num_critic_for_reviews                                                     302
duration                                                                   169
director_facebook_likes                                                    563
actor_3_facebook_likes                                                    1000
actor_2_name                                                     Orlando Bloom
actor_1_facebook_likes                                                   40000
gross                                                              3.09404e+08
genres                                                Action|Adventure|Fantasy
actor_1_name                                                       Johnny Depp
movie_title                          Pirates of the Caribbean: At World's End
num_voted_users                                                         471220
cast_total_facebook_likes                                                48350
actor_3_name                                                    Jack Davenport
facenumber_in_poster                                                         0
plot_keywords                goddess|marriage ceremony|marriage proposal|pi...
movie_imdb_link              http://www.imdb.com/title/tt0449088/?ref_=fn_t...
num_user_for_reviews                                                      1238
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                   3e+08
title_year                                                                2007
actor_2_facebook_likes                                                    5000
imdb_score                                                                 7.1
aspect_ratio                                                              2.35
movie_facebook_likes                                                         0
Name: 1, dtype: object

In [68]:
# 行 列
df.loc[1:3,['director_name','movie_title']]

       director_name                                movie_title
1     Gore Verbinski  Pirates of the Caribbean: At World's End
2         Sam Mendes                                   Spectre
3  Christopher Nolan                     The Dark Knight Rises

In [70]:
# 行列
df.loc[[2,9],['director_name','movie_title']]

  director_name                              movie_title
2    Sam Mendes                                 Spectre
9   David Yates  Harry Potter and the Half-Blood Prince