In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
s1 = Series([1,2,3,4])

In [1]:
s1

NameError: name 's1' is not defined

In [5]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
s2 = Series([1,2,3,4],index=['A','B','C','D'])

In [7]:
s2

A    1
B    2
C    3
D    4
dtype: int64

In [9]:
s2.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
# reindex是对原有index进行选取，生成新的索引。
s1.reindex(['A','B','C','D'])

A   NaN
B   NaN
C   NaN
D   NaN
dtype: float64

In [15]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [16]:
s1.reindex(index=[1,2,4])

1    2.0
2    3.0
4    NaN
dtype: float64

In [20]:
s2 = s1.reindex(index=[1,2,4],fill_value=10)

In [21]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [22]:
s2

1     2
2     3
4    10
dtype: int64

# Reindex Dataframe

In [31]:
# rand()大于等于 0 及小于 1 的均匀分布随机实数
a = np.random.rand(15).reshape(3,5)
a

array([[0.0569338 , 0.32621598, 0.38822024, 0.40941559, 0.62447848],
       [0.09706857, 0.52497714, 0.0035565 , 0.90172075, 0.7059125 ],
       [0.28798512, 0.9898019 , 0.1384539 , 0.1770084 , 0.70766504]])

In [32]:
df = DataFrame(a,index=[1,2,3],columns=['A','B','C','D','E'])
df

          A         B         C         D         E
1  0.056934  0.326216  0.388220  0.409416  0.624478
2  0.097069  0.524977  0.003557  0.901721  0.705913
3  0.287985  0.989802  0.138454  0.177008  0.707665

In [37]:
df.reindex(index=[1,2],columns=['C','D'])

          C         D
1  0.388220  0.409416
2  0.003557  0.901721

In [41]:
df.loc[[1,2],['C','D']]

          C         D
1  0.388220  0.409416
2  0.003557  0.901721

In [43]:
df.reindex(index=[1,2,4],columns=['C','D','F'])

          C         D   F
1  0.388220  0.409416 NaN
2  0.003557  0.901721 NaN
4       NaN       NaN NaN

In [44]:
df.reindex(index=[1,2,4],columns=['C','D','F'],fill_value=100)

            C           D      F
1    0.388220    0.409416  100.0
2    0.003557    0.901721  100.0
4  100.000000  100.000000  100.0